.container {
	min-width: 960px;
	max-width: 960px;
}
#q-preview {
	margin-top: 20px;
}
.rating > span {
	color: black;
}
.answer {
	clear: both;
}
.commentForm {
	display: none;
}
#submitComment {
	width: 100px;
}
.hr {
	clear: both;
	opacity: 0.6 !important;
	height: 1px;
    background-color: #2f96e8;
}
.addons {
    display: inline-block;
    width: 100%;
    height: 30px;
    margin-top: 5px;
}
.addons > span {
    cursor: pointer;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 15px;    
    border: 1px solid grey;
}
footer {
	margin-top: 80px;
}
h1, h2 {
	font-weight: 300;
	padding-bottom: 20px;
}
.q-header {
	clear: both;
	margin-top: 50px;
}
.vote {
	height: 30px;
	display: block;
	margin: 0 auto;
	width: 30px;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	margin-top: 15px;
	color: grey;
}
.rating {
	text-align: center;
	font-size: 20px;
}
.text {
	padding-left: 50px;
}
.comments {
	padding-left: 60px;
}
.comment {
	background: lightgrey;
}
.comment > p {padding: 10px;}
.q-author {
	font-weight: 600;
	text-align: right;
}
.vote-holder {
	float: left;
}
.a-comment {
	float: right;
}
hr {
	border-width: 1px;
	opacity: 0.2;
}
.add-comment {color: grey; text-decoration: none}
.add-comment:hover {color: #2f96e8;}
.vote:hover {color: #2f96e8;}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
	width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}
input[type=submit] {
    width: 100%;
    background-color: #2f96e8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
	background-color: #2677b7;
}
.accepted {
	text-align: center;
	color: green;
	font-size: 30px;
	margin-top: 10px;
}
@media screen and (max-width: 960px) {
	.container {
		min-width: auto;
	}
}
@media screen and (max-width: 640px) {
	.container {
		padding: 0 10px;
	}
	#area {
		font-size: 13px;
	}
	nav {display: none;}
	.mobile-header {display: flex;}
	h1 {line-height: 1em;}
}