.container {
	min-width: 960px;
	display: flex;
}
.q-about {
	min-width: 750px;
    padding: 0;
    float: left;
}
.results {width: 100%;}
hr {
	opacity: 0.2;
	margin-top: -10px;
	margin-bottom: 10px;
}
@media screen and (max-width: 960px) {
	.container {
		min-width: auto;
	}
	.score {display: block;}
	.q-about {
		min-width: 400px;
	}
	.q-details {
		float: left;
    	width: 400px;
	}
	.counters {display: none;}
}
@media screen and (max-width: 640px) {
	.mobile-header {display: flex;}
	nav {display: none;}
	.q-about {width: auto; min-width: auto;}
	.q-details {
    	width: 200px;
	}
	.search-input {
		width: 100px;
		height: 20px;
		font-size: 15px;
		padding: 5px 6px 5px 10px;
	}
	.search-submit {
		height: 30px;
		font-size: 15px;
	}
	.search-header, .query-box {
		height: 100px;
	}
}