html, body, div, h2, h1 {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
}
body {
	font-family:  Arial, "Helvetica Neue",Helvetica,sans-serif;
	font-size: 13px;
	line-height: 1.3em;
	color: #242729;
	background: white;
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}
header {
	width: 100%;
	background: #242729;
	height: 40px;
	line-height: 1;
	font-size: 13px;
}
footer {
	padding: 2rem;
	background-color: #efefef;
	text-align: center;
}
li {
	display: inline;
}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav {
	position: absolute;
	right: 0;
	top: 0;
}
.title, .link {
	vertical-align: middle;
	text-decoration: none;
    display: table-cell;
    height: 40px;
}
.title {
    padding: 0 20px;
    font-size: 15px;
    color: white;
}
.blue {
	color: #2f96e8;
}
.links {
	display: table;
	position: absolute;
	right: 0;
	top: 0;
}
.link {
    padding: 0 10px;
    color: lightgrey;
}
.container {
	margin: 0 auto;
	flex-grow: 1;
}
.mobile-header {
	background: #242729;
	padding-top: 10px;
	margin-bottom: -30px;
	z-index: 1;
	height: auto;
	text-align: center;
	display: none;
	flex-direction: column;
}
.mobile-header span{
	padding: 10px;
}
.query-box, .search-submit, .search-input {
	vertical-align: middle;
	text-decoration: none;
    /*display: table-cell;*/
    height: 40px;
}
.search-header {
	background: #242729;
	display: table;	
	height: 150px;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
}
.query-box {
    height: 150px;
}
.search-input {
	border: none;
	outline: none;
	border-radius: 10px 0 0 10px;
	background: #fff;
	width: 200px;
	height: 40px;
	z-index: 10;
	padding: 5px 60px 5px 10px;
	font-size: 20px;
}
.query-box > form {
	display: inline-block;
	text-align: center;
	margin-top: 40px;
}
.search-submit {
	border-radius: 0 10px 10px 0;
	overflow: visible;
	border: none;
	cursor: pointer;
	height: 50px;
	width: 100px;
	color: #fff;
	text-transform: uppercase;
	background: #2f96e8;
}
.search-submit:hover {
	background: #2677b7;
}
.top-questions > h2, .results > h2, 
.new-question > h2, .login > h2, .signup > h2 {
	color: #242729;
    font-size: 18px;
    font-weight: 400;
    line-height: 5;
}
.counters {
	vertical-align: top;
    float: left;
    margin-right: 10px;
}
.sub-counter {
	display: inline-block;
	padding: 8px 5px;
    line-height: 1;
    height: 38px;
    min-width: 38px;
    margin: 0 3px 0 0;
    font-size: 11px;
    color: #848d95;
}
.number {	
    font-size: 17px;
    font-weight: 300;
    color: #6a737c;
    margin-bottom: 4px;
    text-align: center;
}
.number > div { font-size: 13px; }
.q-link {
	text-decoration: none;
	color: #2f96e8;
    line-height: 1.1;
    font-size: 17px;
}
.q-link:hover {
	color: #2677b7;
}
.q-author {
	width: 100%;
	text-align: right;
}
.new-questions {
	text-align: center;
	background: #2f96e8;
	color: #fff;
	padding: 10px;
	font-weight: 200;
}
.new-question {
	padding: 10px;
}
.question {clear: left;}
.new-question > a {
	text-decoration: none;
}
.rating {
	padding: 3px 0;
    white-space: nowrap;
    width: 40px;
    color: #fff;
    text-align: center;
}
.nq-link {
	color: #2f96e8;
	text-decoration: none;
}
.nq-link-holder {
	padding-left: 40px;
	margin-left: 10px;
}
.green {background: green}
.darkgrey {background: darkgrey}
.score {
	display: none;
	float: left;
	padding: 5px 16px;
	background: lightgrey;
	margin-right: 10px;
	color: white;
}
#preview a {
	text-decoration: none;
	color: #2f96e8;
}
code, .code {
	display: block;
	background: lightgray;
	padding: 5px;
}
code > p, .code > p {
	line-height: 0.1;
}